.general-activity
  Here be what happens in the world
- if User.current_user?
  .personal-activity
    Here be what happens to _your_ projects
- else
  Hello you! Why not sign up for an account and start telling people about your projects?
