@import base.sass

body
  background-color: #333

#info-header
  display: none
#header
  margin-left: auto
  margin-right: auto
  width: 80%
  padding: 8px
  margin-top: -10px
  background-color: #ee1144
  font-family: sans-serif
  -moz-border-radius-bottomleft: 20px
  -moz-border-radius-bottomright: 20px
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.5)
  .title
    float: left
    font-family: serif
    font-size: 42px
    font-style: italic
    margin-left: 40%
    margin-top: -120px
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
  .subtitle
    float: left
    margin-left: -150px
    margin-top: -25px
  .search
    margin-left: auto
    margin-right: auto
    display: inline
    #available-projects
      display: none
    label
      display: none
    input
      max-width: 30%
      -moz-border-radius: 5px
      background: url("../images/search.png") no-repeat scroll transparent
      background-color: #fff
      padding-left: 48px
      margin-left: 10px
      margin-bottom: -6px
      margin-top: 6px
      font-size: 36px
  .logo
    float: left
    width: 120px
    background-color: #fff
  .avatar
    float: right
    a
      text-align: right
    form
      display: none
#container
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5)
  margin-left: auto
  margin-right: auto
  margin-bottom: -10px
  padding: 18px
  width: 70%
  height: 100%
  background-color: #fbffce

  $sidebar-padding: 4px
  $sidebar-border: 2px
  $sidebar-border-color: #333
  $sidebar-border-style: solid
  $sidebar-color: #aaa
  $sidebar-width: 30%
  .general-activity
    float: left
    float: right
  .screenshot
    background-color: $sidebar-color
    border-color: $sidebar-border-color
    border-width: $sidebar-border
    border-style: $sidebar-border-style $sidebar-border-style none
    float: right
    padding: $sidebar-padding
    padding-bottom: 20px
    width: $sidebar-width
    img
      width: 100%
  .description
    float: left
    margin: 10px
    width: $sidebar-width * 2
  .last_updates
    background-color: $sidebar-color
    border-color: $sidebar-border-color
    border-width: $sidebar-border
    border-style: none $sidebar-border-style none
    float: right
    padding: ($sidebar-padding)
    width: $sidebar-width
    clear: right
    .date
      display: inline
  .urls
    background-color: $sidebar-color
    border-color: $sidebar-border-color
    border-width: $sidebar-border
    border-style: none $sidebar-border-style none
    float: right
    padding: ($sidebar-padding)
    width: $sidebar-width
    clear: right
    a
      font-size: 12px
  .doIt
    background: none repeat scroll 0 0 #CCCCCC
    float: left
    font-family: monospace
    font-size: 110%
    margin-left: 10%
    margin-right: 10%
    padding: 15px
    width: 40%
    -moz-border-radius: 4px
    border: 1px solid #333
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5)
  .license
    background-color: $sidebar-color
    border-color: $sidebar-border-color
    border-width: $sidebar-border
    border-style: none $sidebar-border-style $sidebar-border-style
    float: right
    padding: ($sidebar-padding)
    width: $sidebar-width
    -moz-border-radius-bottomleft: 8px
    -moz-border-radius-bottomright: 8px
    clear: right
  form
    label
      float: left
      clear: both
      a
        font-size: small
        color: #aaa
        &:hover
          color: #222
    input, textarea, select
      float: right
      clear: right
      width: 60ex
