body {
  background-color: #333333; }

#info-header {
  display: none; }

#header {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 8px;
  margin-top: -10px;
  background-color: #ee1144;
  font-family: sans-serif;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.5); }
  #header .title {
    float: left;
    font-family: serif;
    font-size: 42px;
    font-style: italic;
    margin-left: 40%;
    margin-top: -120px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  #header .subtitle {
    float: left;
    margin-left: -150px;
    margin-top: -25px; }
  #header .search {
    margin-left: auto;
    margin-right: auto;
    display: inline; }
    #header .search #available-projects {
      display: none; }
    #header .search label {
      display: none; }
    #header .search input {
      max-width: 30%;
      -moz-border-radius: 5px;
      background: url("../images/search.png") no-repeat scroll transparent;
      background-color: white;
      padding-left: 48px;
      margin-left: 10px;
      margin-bottom: -6px;
      margin-top: 6px;
      font-size: 36px; }
  #header .logo {
    float: left;
    width: 120px;
    background-color: white; }
  #header .avatar {
    float: right; }
    #header .avatar a {
      text-align: right; }
    #header .avatar form {
      display: none; }

#container {
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  padding: 18px;
  width: 70%;
  height: 100%;
  background-color: #fbffce; }
  #container .general-activity {
    float: left;
    float: right; }
  #container .screenshot {
    background-color: #aaaaaa;
    border-color: #333333;
    border-width: 2px;
    border-style: solid solid none;
    float: right;
    padding: 4px;
    padding-bottom: 20px;
    width: 30%; }
    #container .screenshot img {
      width: 100%; }
  #container .description {
    float: left;
    margin: 10px;
    width: 60%; }
  #container .last_updates {
    background-color: #aaaaaa;
    border-color: #333333;
    border-width: 2px;
    border-style: none solid none;
    float: right;
    padding: 4px;
    width: 30%;
    clear: right; }
    #container .last_updates .date {
      display: inline; }
  #container .urls {
    background-color: #aaaaaa;
    border-color: #333333;
    border-width: 2px;
    border-style: none solid none;
    float: right;
    padding: 4px;
    width: 30%;
    clear: right; }
    #container .urls a {
      font-size: 12px; }
  #container .doIt {
    background: none repeat scroll 0 0 #cccccc;
    float: left;
    font-family: monospace;
    font-size: 110%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    width: 40%;
    -moz-border-radius: 4px;
    border: 1px solid #333333;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); }
  #container .license {
    background-color: #aaaaaa;
    border-color: #333333;
    border-width: 2px;
    border-style: none solid solid;
    float: right;
    padding: 4px;
    width: 30%;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    clear: right; }
