= "The user #{username} does not exist."
%br
Do you want to sign up, using the supplied username and password?
%a{:href => "/signup"} Yes
%a{:href => "#", :onclick => "$('#info-header').slideUp();"} No

